html,body {
  background: url("./images/SMRGY9.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: auto;
}

input[type=number]{
    width: 180px;
}

input[type=text]{
    width: 200px;
}

.snowType{
  margin-left: 0;
  padding-left: 0;
}

.pitTrigger{
  margin-left: 0;
  padding-left: 0;
}
