html, body {
  background: url("./images/SMRGY9.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: auto;
}

textarea{
  border-radius: 10px;
  margin-top: 10px;
}

.btn{
  border-radius: 10px;
  opacity: 0.8;
  margin-top: 10px;
}

input[type=number] {
  width: 200px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 10px;
}

input[type=text] {
  width: 200px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 10px;
}

input[type=checkbox] {
  margin-left: 20px
}

label{
  margin-left: 5px
}

.snowType {
  margin-left: 0;
  padding-left: 0;
}

footer {
  background-color: black;
  color: white;
  height: 40px;
  position:fixed;
}

.well {
  opacity: 0.9 ;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  background-color: black;
}

.left{
  /*float: left;*/
}

h1 {
  text-align: center;
  font-family: 'Bellefair', serif;
  font-size: 70px;
  color: white;
  margin-top: 60px;
  text-shadow: 2px 2px grey;

}

h2 {
  text-align: center;
  font-family: 'Bellefair', serif;
  font-size: 45px;
  color: black
}

h3 {
  text-align: center;
  font-family: 'Bellefair', serif;
}

h4 {
  text-align: center;
  font-family: 'Bellefair', serif;
}

h5{
  margin-left: 5%
}

h6{
  text-align: center;
}

#avitar{
  height: 200px;
  width: auto;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
}

.logIn{
  border-radius: 10px;
  width: 300px;
  opacity: 0.8;
}

.sign{
  margin-top: 120px;
}

.signIn{
  margin-right: 10px;
}

.signUp{
  margin-left: 10px;
}

.inWell{
  color: white;
  /*text-align: center*/
}

.snowType{
  display: inline;
  text-align: center;
}

.comment{
  margin-right: 700px
}

#profile{
  width:70%;
  background-color:rgba(0,0,0,0.5);
  height:55vh;
  color:white;
  padding-top:5%;
  border-radius: 10px;
}
#profileInfo{
  text-align:left;
}
#profileInfo > h1{
  text-align:left;
}
#myTrips{
  margin-top:3%;
  color:black;
}
.profilePic{
  width:90%;
  border-radius:50%;
}

#comments{
  width: 100%;
  height: 80%
}

.textBox{
  width: 35%;
  height: 20%;
}

.false{
  text-decoration:line-through;
  color: grey
}

.true{
  color: #18d318;
}

#tripReport{
  width: 500px;
  height: auto;
}

.pitPhoto{
  width: 600px;
  height: auto;
  margin-left: 23%;
  border-radius: 10px;
}

.underline{
  text-decoration: underline;
}

#welcome{
  margin-top: 80px
}

#about{
  margin-top: 200px;
  color: black
}

#actualWeather{
  margin-left: 4%;
}

.textCenter{
  margin-left: 12%;
}

#tripReport{
  margin-left: 1%;
  width: 1070px;
  height: 100px;
}

#snowpack{
  margin-left: 32%
}

#routePhoto{
  margin-left: 23%;
  width: 600px;
  height: auto;
  border-radius: 10px;
}

h3#comments{
  margin-left: 8%;
}

.commentAvatar{
  width:50px;
  border-radius:25%
}

#marg{
  margin-top: 430px;
}

.layerChart{
  margin-left: 8px
}

#layerWrap > input{
  float:right;
}

.layerMarg{
  margin-top: 11px;
}

.loc{
  margin-top: 11px;
}
