html, body {
  background: url("./images/SMRGY9.jpg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: auto;
}

input[type=number] {
  width: 180px;
}

input[type=text] {
  width: 200px;
}

input[type=checkbox] {
  margin-left: 20px
}

label{
  margin-left: 5px
}

.snowType {
  margin-left: 0;
  padding-left: 0;
}

.pitTrigger {
  margin-left: 0;
  padding-left: 0;
}

footer {
  background-color: black;
  color: white;
  height: 20px;

}

.well {
  opacity: 0.8;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  background-color: black;
}

.left{
  /*float: left;*/
}



h1 {
  text-align: center;
  font-family: 'Bellefair', serif;
  font-size: 70px;
  border-style: solid;
  border-color: black;
  border-width: medium;
  color: white;
}

h2 {
  text-align: center;
  font-family: 'Bellefair', serif;
  font-size: 45px;
  color: black
}

h3 {
  text-align: center;
  font-family: 'Bellefair', serif;
}

h4 {
  text-align: center;
  font-family: 'Bellefair', serif;
}

h5{
  margin-left: 5%
}

#avitar{
  height: 200px;
  width: auto;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
}

.btn{
  opacity: 0.8;
}

.logIn{
  border-radius: 10px;
  width: 300px;
  opacity: 0.8;
}

.signIn{
  margin-right: 10px;
}

.signUp{
  margin-left: 10px;
}

.inWell{
  color: white;
}

.snowType{
  display: inline;
  text-align: center;
}

.comment{
  margin-right: 700px
}

#profile{
  width:75%;
  background-color:rgba(0,0,0,0.5);
  height:100vh;
  color:white;
  padding-top:5%;

}
#profileInfo{
  text-align:left;
}
#profileInfo > h1{
  text-align:left;
}
#myTrips{
  margin-top:3%;
  color:black;
}
.profilePic{
  width:90%;
  border-radius:50%;
}

#comments{
  width: 100%;
  height: 80%
}
